
<h2>Create Meeting</h2>
<div>
<%= form_for @event do |event| %>
<%= event.label :name %>
<%= event.text_field :name %>
</br></br>
<%= event.label :start%>
<%= event.time_select :start, {:ampm => true} %>
</br></br>
<%= event.label :end%>
<%= event.time_select :end, {:ampm => true} %>
</br></br>
<%= event.fields_for :location do |loc|%>
<%= loc.label 'Meeting Room'%>
<%= loc.select(:name, Location::CONFLOCATION)%>
<%end%>
</br></br>
<%= event.submit "Create Meeting"%>
<%end%>
</div>
<!-- location.select(:name, Location::CONFLOCATION) -->
